.Rproj.user
.Rhistory
.RData
.Ruserdata

# Scratch folder
scratch/
  
# Data files
*.rds
*.feather
*.zip
in/siteSR_data/siteSR_collated_sites_LT05_DSWE1_2025-02-24_export.csv
in/siteSR_data/siteSR_collated_sites_LT04_DSWE1_2025-02-24_export.csv
in/siteSR_data/siteSR_collated_sites_LE07_DSWE1_2025-02-24_export.csv
in/siteSR_data/siteSR_collated_sites_LC09_DSWE1_2025-02-24_export.csv
in/siteSR_data/siteSR_collated_sites_LC08_DSWE1_2025-02-24_export.csv
in/lakeSR_data/collated_handoffs.csv
in/hydrobasins
in/gdw/GDW_v1_0_gdb

# Other
*.DS_Store
